@keyframes leftright {

  0%,
  20% {
    transform: translateX(0%);
    left: 0%;
  }

  80%,
  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}

mat-card {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  cursor: pointer;
  transition: all 0.3s ease-out;
  user-select: none;
}

mat-card:hover {
  box-shadow: 0 0 1em var(--surface-2-color);
  background-color: var(--surface-2-color);
}

mat-card>img {
  object-fit: cover;
}

mat-card-subtitle>div {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

mat-card-title {
  font-size: 1em;
}

.animate-text {
  position: relative;
  animation: leftright 3s infinite linear;
}

.release-artists {
  color: var(--title-2-color);
  max-width: 10.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.release-artists>span {
  display: inline-block;
}

.release-container {
  flex: 0 1 16em;
  margin: 1em;
}

.release-type {
  color: var(--subtitle-color);
  text-align: end;
}

#releases-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
}