<div id="releases-container">
  <div *ngFor="let release of releases" class="release-container">
    <mat-card
      (click)="openStreamingLinks(release)"
      id="{{ toKebabCase(release.name) }}"
    >
      <img
        alt="No cover available"
        mat-card-image
        src="assets/images/covers/{{ toKebabCase(release.name) }}.jpg"
      />
      <mat-card-content>
        <mat-card-title>{{ release.name }}</mat-card-title>
        <mat-card-subtitle>
          <div>
            <span class="release-artists">
              {{ release.artists.join(', ') }}
            </span>
            <span class="release-type">{{ release.type }}</span>
          </div>
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
</div>
