img {
  border-radius: 50%;
  height: 5em;
  width: 5em;
}

mat-toolbar {
  background-color: transparent;
  color: var(--on-background-color);
  height: 8em;
  justify-content: center;
}

mat-toolbar > div {
  display: grid;
  row-gap: 0.5em;
  text-align: center;
}
