img {
  border-radius: 50%;
  height: 5em;
  width: 5em;
}

mat-toolbar {
  background-color: transparent;
  color: var(--on-background-color);
  flex-direction: column;
  height: 8em;
  place-content: center;
}
