#container {
  display: grid;
  padding: 2em 0;
  row-gap: 3em;
}

.release-container {
  padding: 0 3em;
}

/* TABLET */
@media only screen and (min-width: 426px) {
  #container {
    column-gap: 3em;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em 3em;
  }

  .release-container {
    padding: 0;
  }
}

/* LAPTOP */
@media only screen and (min-width: 769px) {
  #container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* LAPTOP L */
@media only screen and (min-width: 1025px) {
  #container {
    grid-template-columns: repeat(5, 1fr);
  }
}
