#container,
.release-info {
  display: grid;
}

#container {
  padding: 2em 0;
  row-gap: 3em;
}

.release {
  padding: 0 3em;
}

.release-artwork {
  object-fit: cover;
}

.release-card {
  background-color: var(--color-prestige-blue);
  color: var(--color-anti-flash-white);
  cursor: pointer;
}

.release-info {
  grid-template-columns: 75% 25%;
}

.release-type {
  text-align: end;
}

/* TABLET */
@media only screen and (min-width: 426px) {
  #container {
    column-gap: 3em;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em 3em;
  }

  .release {
    padding: 0;
  }
}

/* LAPTOP */
@media only screen and (min-width: 769px) {
  #container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* LAPTOP L */
@media only screen and (min-width: 1025px) {
  #container {
    grid-template-columns: repeat(5, 1fr);
  }
}
