<div id="container" *ngIf="(releases$ | async) as releases">
  <div class="release" *ngFor="let release of releases">
    <mat-card class="release-card">
      <img
        class="release-artwork"
        mat-card-image
        src="assets/images/releases/Forgotten Dreams.jpg"
      />
      <mat-card-content>
        <!-- TODO: Retrieve release's type from API -->
        <mat-card-title>{{ release.name }} &#183; EP</mat-card-title>
        <mat-card-subtitle>
          <span *ngFor="let artist of release.artists">
            <span *ngIf="artist !== release.artists[0]">, </span>
            <span>{{ artist.name }}</span>
          </span>
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
</div>
