<div id="container">
  <!-- TODO: Refactor this messy code -->
  <div class="release">
    <mat-card class="release-card">
      <img
        class="release-artwork"
        mat-card-image
        src="assets/images/releases/Forgotten Dreams.jpg"
      />
      <mat-card-content>
        <mat-card-title>Release</mat-card-title>
        <mat-card-subtitle>T.Lion</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="release">
    <mat-card class="release-card">
      <img
        class="release-artwork"
        mat-card-image
        src="assets/images/releases/Forgotten Dreams.jpg"
      />
      <mat-card-content>
        <mat-card-title>Release</mat-card-title>
        <mat-card-subtitle>T.Lion</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="release">
    <mat-card class="release-card">
      <img
        class="release-artwork"
        mat-card-image
        src="assets/images/releases/Forgotten Dreams.jpg"
      />
      <mat-card-content>
        <mat-card-title>Release</mat-card-title>
        <mat-card-subtitle>T.Lion</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="release">
    <mat-card class="release-card">
      <img
        class="release-artwork"
        mat-card-image
        src="assets/images/releases/Forgotten Dreams.jpg"
      />
      <mat-card-content>
        <mat-card-title>Release</mat-card-title>
        <mat-card-subtitle>T.Lion</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="release">
    <mat-card class="release-card">
      <img
        class="release-artwork"
        mat-card-image
        src="assets/images/releases/Forgotten Dreams.jpg"
      />
      <mat-card-content>
        <mat-card-title>Release</mat-card-title>
        <mat-card-subtitle>T.Lion</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
</div>
