<div id="container" *ngIf="(releases$ | async) as releases">
  <div class="release" *ngFor="let release of releases">
    <mat-card class="release-card">
      <img
        class="release-artwork"
        mat-card-image
        src="assets/images/releases/Forgotten Dreams.jpg"
      />
      <mat-card-content>
        <mat-card-title>{{ release.name }}</mat-card-title>
        <mat-card-subtitle>
          <div class="release-info">
            <!-- TODO: Retrieve artists from API -->
            <span>T.Lion</span>
            <!-- TODO: Retrieve release's type from API -->
            <span class="release-type">EP</span>
          </div>
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
</div>
