<mat-card id="{{ release.getNameInLowerCase() }}" (click)="openStreamingLinksBottomSheet()">
  <img mat-card-image src="data:image/jpeg;base64,{{ cover$ | async }}" alt="No cover available" />
  <mat-card-content>
    <mat-card-title>{{ release.name }}</mat-card-title>
    <mat-card-subtitle>
      <div>
        <span class="release-artists">{{ release.getArtists() }}</span>
        <span class="release-type">{{ release.type }}</span>
      </div>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card>
