mat-card {
  background-color: var(--color-grey-800);
  color: var(--color-white);
  cursor: pointer;
}

mat-card > img {
  object-fit: cover;
}

.release-artists {
  color: var(--color-soft-blue-light);
}

.release-info {
  display: grid;
  grid-template-columns: 75% 25%;
}

.release-name {
  font-size: 1em;
}

.release-type {
  color: var(--color-soft-blue);
  text-align: end;
}
