mat-card {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  cursor: pointer;
}

mat-card > img {
  object-fit: cover;
}

mat-card-subtitle > div {
  display: grid;
  grid-template-columns: 75% 25%;
}

mat-card-title {
  font-size: 1em;
}

.release-artists {
  color: var(--title-2-color);
}

.release-type {
  color: var(--subtitle-color);
  text-align: end;
}
