#container,
.streaming-platform {
  display: grid !important;
}

.spotify,
.youtube-music {
  width: 2em !important;
}

.streaming-platform {
  align-items: center;
  color: var(--color-white);
  grid-template-columns: 80% 20%;
}

.streaming-platform-logo {
  width: 3em;
}

.streaming-platform-logo-container {
  display: flex;
  justify-content: center;
}

#subtitle {
  color: var(--color-soft-blue);
  padding-top: 0.25em;
}

#title {
  font-size: 1.25em;
}

#title-container {
  display: grid;
  padding-top: 1em;
  text-align: center;
}
