<div id="container">
  <div id="title-container">
    <span id="title">{{ release.name }}</span>
    <span id="subtitle">Choose a platform</span>
  </div>
  <mat-nav-list>
    <a
      (click)="openStreamingLink(streamingLink)"
      mat-list-item
      *ngFor="let streamingLink of release.streamingLinks"
    >
      <div class="streaming-platform" mat-line>
        <span>{{ streamingLink.platform }}</span>
        <div id="streaming-platform-logo">
          <img
            [ngClass]="streamingLink.getPlatformInLowerCase()"
            src="{{ streamingLink.getLogo() }}"
          />
        </div>
      </div>
    </a>
  </mat-nav-list>
</div>
