@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  /* COLOR PALETTE */
  --background-color: hsl(0, 0%, 7%);
  --error-color: hsl(349, 52%, 61%);
  --primary-color: hsl(37, 100%, 74%);
  --secondary-color: hsl(217, 98%, 74%);
  --surface-color: hsl(0, 0%, 14%);

  /* TEXT COLOR PALETTE */
  --footer-color: hsl(0, 0%, 33%);
  --on-background-color: hsl(0, 0%, 93%);
  --on-error-color: hsl(0, 0%, 7%);
  --on-primary-color: hsl(0, 0%, 7%);
  --on-secondary-color: hsl(0, 0%, 7%);
  --on-surface-color: hsl(0, 0%, 93%);
  --subtitle-color: hsl(0, 0%, 73%);
  --title-2-color: hsl(0, 0%, 83%);
}

body {
  background-color: var(--background-color);
  border: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.dark-bottom-sheet {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  min-width: 23em !important;
}

.mat-spinner circle {
  stroke: var(--on-background-color);
  stroke-width: 3% !important;
}

simple-snack-bar span {
  margin: auto;
  text-align: center;
}

snack-bar-container.error-notification {
  background-color: var(--error-color);
  color: var(--on-error-color);
}

snack-bar-container.notification {
  background-color: hsl(0, 0%, 16%);
  color: var(--on-surface-color);
}
