@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  background-color: var(--color-dark-grey);
  border: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.dark-bottom-sheet {
  background-color: var(--color-grey-800);
  color: var(--color-white);
  min-width: 26em !important;
}

.mat-spinner circle {
  stroke: var(--color-soft-blue-light);
  stroke-width: 3% !important;
}

:root {
  --color-black: #000000;
  --color-dark-blue: #2f3542;
  --color-dark-grey: #121212;
  --color-grey-700: #515151;
  --color-grey-800: #333333;
  --color-soft-blue: #a4b0be;
  --color-soft-blue-light: #dfe4ea;
  --color-soft-orange: #ffb640;
  --color-soft-red: #cf6679;
  --color-transparent: #00000000;
  --color-white: #f1f2f6;
}

simple-snack-bar span {
  margin: auto;
  text-align: center;
}

snack-bar-container.error-notification {
  background-color: var(--color-soft-red);
  color: var(--color-black);
}

snack-bar-container.notification {
  background-color: var(--color-grey-800);
  color: var(--color-white);
}
