@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  /* COLOR PROPERTIES */
  --empty-hue: 0;
  --empty-saturation: 0%;
  --dark-lightness: 7%;
  --bright-lightness: calc(100% - var(--dark-lightness));

  /* SHARED COLORS */
  --dark-grey: hsl(
    var(--empty-hue),
    var(--empty-saturation),
    var(--dark-lightness)
  );
  --white: hsl(
    var(--empty-hue),
    var(--empty-saturation),
    var(--bright-lightness)
  );

  /* COLOR THEME */
  --background-color: var(--dark-grey);
  --error-color: hsl(349, 52%, 61%);
  --primary-color: hsl(37, 100%, 74%);
  --secondary-color: hsl(217, 98%, 74%);
  --surface-color: hsl(
    var(--empty-hue),
    var(--empty-saturation),
    calc(var(--dark-lightness) * 2)
  );

  /* TEXT COLOR THEME */
  --footer-color: hsl(
    var(--empty-hue),
    var(--empty-saturation),
    calc(var(--dark-lightness) * 7)
  );
  --on-background-color: var(--white);
  --on-error-color: var(--dark-grey);
  --on-primary-color: var(--dark-grey);
  --on-secondary-color: var(--dark-grey);
  --on-surface-color: var(--white);
  --subtitle-color: hsl(
    var(--empty-hue),
    var(--empty-saturation),
    calc(var(--bright-lightness) - 20%)
  );
  --title-2-color: hsl(
    var(--empty-hue),
    var(--empty-saturation),
    calc(var(--bright-lightness) - 10%)
  );
}

body {
  background-color: var(--background-color);
  border: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.dark-bottom-sheet {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  min-width: 23em !important;
}

.mat-spinner circle {
  stroke: var(--on-background-color);
  stroke-width: 3% !important;
}

simple-snack-bar span {
  margin: auto;
  text-align: center;
}

snack-bar-container.error-notification {
  background-color: var(--error-color);
  color: var(--on-error-color);
}

snack-bar-container.notification {
  background-color: hsl(
    var(--empty-hue),
    var(--empty-saturation),
    calc(var(--dark-lightness) * 3)
  );
  color: var(--on-surface-color);
}
