a {
  color: var(--title-2-color) !important;
  transition: color 0.3s ease-out;
  user-select: none;
}

a:hover {
  color: var(--on-surface-color) !important;
}

#logo-container {
  justify-content: flex-end;
}

#logo-container,
#logo-container > div {
  display: flex;
}

#logo-container > div {
  justify-content: center;
}

#logo-container > div,
#logo-container > div > img {
  width: 3em;
}

.spotify,
.youtube-music {
  width: 2em !important;
}

.streaming-platform {
  display: flex !important;
  place-content: space-between;
  place-items: center;
}
