.spotify,
.youtube-music {
  width: 2em !important;
}

.streaming-platform {
  align-items: center;
  color: var(--color-white);
  display: grid !important;
  grid-template-columns: 80% 20%;
}

#streaming-platform-logo {
  display: flex;
  justify-content: center;
}

#streaming-platform-logo > img {
  width: 3em;
}
