<div id="container">
  <div>
    <span id="title">{{ data.name }}</span>
    <span id="subtitle">Choose a platform</span>
  </div>
  <mat-nav-list>
    <div *ngFor="let link of data.links">
      <a (click)="openStreamingLink(link.link)" mat-list-item>
        <div class="streaming-platform" mat-line>
          <span>{{ link.platform }}</span>
          <div id="logo-container">
            <div>
              <img
                [ngClass]="toKebabCase(link.platform)"
                src="assets/images/streaming-platforms/{{
                  toKebabCase(link.platform)
                }}.svg"
              />
            </div>
          </div>
        </div>
      </a>
      <mat-divider *ngIf="isNotLastItem(link)"></mat-divider>
    </div>
  </mat-nav-list>
</div>
